/* ***************************** NEWS *********************************************** */
.content_other
{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    height: auto;
}
.wrapbox
{
    width: 360px;
    height: 180px;
    float: left;
    margin: 14px;
}
.box
{
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    transition-timing-function: ease;
    transition: opacity 0.5s;
    padding: 10px;
}
.box:hover
{
    opacity: 1;
}
.b_date
{
    color: #24283c;
    font-size: 12px;
}
.b_info
{
    color: #24283c;
    font-size: 13px;
    text-align: left;
}

.content_other {
  .wrapbox {
    h1
    {
        font-weight: bold;
        font-size: 20px;
        color: #E97824;
        transition-timing-function: ease;
        transition: color 0.5s;
    }
    h1:hover
    {
        color: #24283c;
    }
  }
}
.news {
  font-size: 0.9rem;
  .pagination {
    font-size: 12px;
    margin: 20px 20px 0 0;
    float: right;
    span.disabled {
      padding: 2.5px 5px;
      border: 1px solid lighten(black, 40%);
    }
    a.previous_page {
      padding: 2.5px 5px;
      border: 1px solid lighten(gray, 20%);
      text-decoration: none;
    }
    a.next_page {
      padding: 2.5px 5px;
      border: 1px solid lighten(gray, 20%);
      text-decoration: none;
    }
    em {
      padding: 2.5px 5px;
      border: 1px solid lighten(black, 30%);
      color: lighten(black, 30%);
      font-style: normal;
    }
    a {
      padding: 2.5px 5px;
      border: 1px solid lighten(gray, 20%);
      color: darken(#f5f5f5, 40%);
      &:hover {
        border: 1px solid lighten(black, 30%);
        color: lighten(black, 30%);
        transition-duration: 0.4s;
      }
    }
  }
}
/* ***************************** NEWS END ***************************************** */

/* ***************************** CONTACT ****************************************** */
.contact
{
  line-height: 24px;
  color: #24283c;
  background-image: url(background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: left;
  a {
    color: #24283c;
    &:hover {
      color: lighten(#24283c, 45%);
      transition-duration: 0.3s;
    }
  }
}
/* ***************************** CONTACT END ************************************* */
/* ***************************** ABOUT ********************************************* */
.about
{
  color: #24283C;
  background-image: image-url("background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: left;
  font-weight: 12px;
  line-height: 22px;
}
/* ***************************** ABOUT ********************************************* */
